form {
  max-width: 20.3125rem;
  width: 100%;
  margin: auto;

  margin-top: 2.75rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  & input {
    width: 100%;
    border: 2px solid var(--border-primary);
    border-radius: .8rem;
    outline: none;
    padding: .7rem;

    color: var(--content-tertiary);
    background-color: var(--bg-secondary);
  }

  & button {
    border: none;
    border-radius: .8rem;
    padding: .7rem;
    background-color: var(--color-brand);
    color: var(--bg-secondary);
    cursor: pointer;
  }

  & button:hover {
    background-color: var(--color-brand-hover);
  }
}

@media (width >= 80em) {
  form {
    max-width: 39.1875rem;
    flex-direction: row;

    & button {
      width: 35%;
    }
  }
}