form {
  max-width: 20.3125rem;
  width: 100%;
  margin: auto;

  margin-top: 2.75rem;

  & div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (width >= 80em) {
  form {
    max-width: 39.1875rem;
    flex-direction: row;
  }
}